<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <nav>
    <div class="site-tile">
      <a href="/"><h1>Blog LEE</h1></a>
      <p>A LEE lEE LEE</p>
    </div>
    <ul>
      <li><a href="/">BLOG</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blog/create">NEW BLOG</a></li>
    </ul>
  </nav>

  <div class="about contact">
    <h2>About me</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates aperiam dolor fugit consequuntur magni praesentium omnis unde expedita nemo. Molestias illo cum exercitationem, aut sit explicabo quod iste eligendi porro.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates aperiam dolor fugit consequuntur magni praesentium omnis unde expedita nemo. Molestias illo cum exercitationem, aut sit explicabo quod iste eligendi porro.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates aperiam dolor fugit consequuntur magni praesentium omnis unde expedita nemo. Molestias illo cum exercitationem, aut sit explicabo quod iste eligendi porro.</p>

  </div>
</body>
</html>