<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="site-tile">
      <a href="/"><h1>Blog LEE</h1></a>
      <p>A LEE lEE LEE</p>
    </div>
    <ul>
      <li><a href="/">BLOG</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blog/create">NEW BLOG</a></li>
    </ul>
  </nav>

  <div class="create-blog content">
    <form>
      <label for="titile">BLOG TITLE:</label>
      <input type="text" id="title" required>
      <label for="snippet">BLOG SINNIPET:</label>
      <input type="text" id="snippet" required>
      <label for="body">BLOG BODY:</label>
      <textarea id="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>
</body>
</html>