<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEE  </title>
</head>
<body>

  <nav>
    <div class="site-tile">
      <p></p>
      <a href="/"><h1>Blog LEE</h1></a>
      <p>A LEE lEE LEE</p>
    </div>
    <ul>
      <li><a href="/">BLOG</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blog/create">NEW BLOG</a></li>
    </ul>
  </nav>

  <div class="blogs contact">
    <h2>All BLOGS</h2>
    <% if(blog.length > 0) { %>
        <% blogs.foreach(blog=>{ %> 

          <h3 class="title"><% blog.title %> </h3>
          <p class="snippet"><% blog.snippet %> </p>

          <% }) %> 
      <% } %> 
  </div>
</body>
</html>